// Colors

$primary-col: hsl(300, 43%, 22%);
$secondry-col: hsl(333, 80%, 67%);
$Grayish-Magenta: hsl(302, 10%, 53%);
$Light-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

// Fonts

$primary-font: "Spartan", sans-serif;
