@import "colorsfonts";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $primary-font;
  height: 100vh;
}

.container {
  max-width: 375px;
  margin: 0 1.5rem;
  height: 100vh;

  .header {
    margin: 4rem 0;
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.title-box {
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    font-size: 2rem;
    padding: 0 0 2rem;
    color: $primary-col;
  }
  p {
    padding: 0 auto;
    color: $Grayish-Magenta;
    font-size: 15px;
  }
}
.ratings {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3rem;
  .rating {
    background-color: $Light-Magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    gap: 1rem;
    border-radius: 0.7rem;
    .icons {
      min-width: fit-content;
    }
    p {
      font-weight: 700;
      color: $primary-col;
    }
  }
}
// Testimonials Section

.testimonials {
  margin: 3.75rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .testi-box {
    background-color: $primary-col;
    color: $White;
    padding: 3rem 2.375rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.7rem;
    font-size: 15px;

    .author-box {
      display: flex;
      gap: 1.875rem;
      align-items: center;
      .name {
        font-weight: 700;
        margin-bottom: 0.625rem;
      }
      .status {
        color: $secondry-col;
      }

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
    .comment {
      color: $Light-Magenta;
      font-size: 14px;
    }
  }
}

@media (min-width: 400px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 550px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 700px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .ratings {
    margin-top: 0;

    .rating {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }
  .title-box {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
  }
  .title-box {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  .testimonials {
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .container {
    margin: 0 auto;
  }

  .title-box {
    .title {
      padding: 3rem 0 1rem;
    }
  }
  .testimonials {
    flex-direction: row;
    gap: 2rem;
    height: 19.3rem;

    .box-2 {
      align-self: center;
    }
    .box-3 {
      align-self: flex-end;
    }
    .testi-box {
      max-height: 10rem;

      .author-box {
        gap: 1rem;
      }
      .comment {
        font-size: 15px;
      }

      img {
        width: 1.25rem;
        height: auto;
      }
    }
  }
  .header {
    margin-bottom: 2rem;

    .title-box {
      max-width: 30rem;
      margin: 0;

      .title {
        padding-top: 0;
        font-size: 3rem;
      }
      p {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .ratings {
      margin-top: 0;
      .rating-2 {
        align-self: center;
      }
      .rating-3 {
        align-self: flex-end;
      }
      .rating {
        width: 27rem;
      }
    }
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1440px;
    margin: 0 10%;
  }
}
